.c{
    &-topnav{
        background: #f7f9fa;
        .nav-link{
            color: $black;
            &:hover{
                color: $primary;
            }
            &.active{
                color: $primary;
                font-weight: 700;
            }
        }

        .fix-on{ display: none;}
        .fix-off{ display: block;}
        &.sticky-top{
            background: $secondary;
            box-shadow:0 5px 10px 5px #009ea93d;
            animation-name: fade-in;
            animation-duration: .5s;
            .nav-link{
                color: $white;
                &.active,
                &:hover{
                    color: $primary;
                }
            }
            .fix-on{
                display: block;
            }
            .fix-off{ display: none;}
            .navbar-toggler-icon{
                filter: invert(1);
            }
        }
    }

    &-box{
        position: relative;
        &--blower{
            background: url(../img/blowers.jpg) no-repeat 0 0;
            background-size: cover;
            margin-top: 5em;
            .icon-garansi{
                position: absolute;
                left:-16%;
                top:-16%;
                width: 150px;
            }
            h2{
                padding-left: 80px;
            }
        }
        &--leftInfo{
            @include media-breakpoint-up(xl) {
                margin-left: -15%;
            }
        }
        
    }
    &-list{
        list-style: none;
        margin: 0;
        padding:0;
        li{
            margin-bottom: 10px;
        }
        &--socmed{
            list-style: none;
            margin: 0;
            padding:0;
            li{
                margin:0 5px;
            }
            li>a{ 
                width: 34px;
                height: 34px;
                border-radius: 100px;
                border:1px solid $primary;
                color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                &:hover{
                    color: $secondary;
                    border-color: $secondary;
                }
                &.fb{
                    color: $fb;
                    border-color: $fb;
                }
                &.tw{
                    color: $tw;
                    border-color: $tw;
                }
                &.ld{
                    color: $ld;
                    border-color: $ld;
                }
                &.go{
                    color: $go;
                    border-color: $go;
                }
            }
        }
        &--icon{
            li{
                position: relative;
                padding-left:40px;
                margin-bottom: 12px;
                font-size: 17px;
                img{
                    position: absolute;
                    left: 0;
                    top: 5;
                }
            } 
        }
    }
    &-contact{
        background: #ccecee;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        &:before{
            position: absolute;
            left: 50%;
            margin-left: -50vw;
            top:0;
            background: #ccecee;
            content: "";
            display: inline-block;
            height: 100%;
            width: 50vw;
            z-index: -1;
        }
        &:after{
            position: absolute;
            left: 50%;
            margin-left: -50vw;
            bottom:0;
            background: #009ea9;
            content: "";
            display: inline-block;
            height: 10px;
            width: 30vw; 
            z-index: 1;
        }
    }
    &-content{
        &-register{
            color: #647c9e;
            border: 15px solid #c4e9eb;
            border-radius: 20px;
            box-shadow:0px 0px 20px 8px #009ea93d;
            .border-bottom{
                border-width: 3px !important;
                border-color: $primary !important;
            }
        }
    }
    &-heading{
        
        &--line{
            position: relative;
            margin-bottom: 30px;
            &:after{
                display: block;
                content: "";
                width: 10%;
                height: 4px;
                border-radius: 4px;
                background: $secondary;
                margin: 15px auto;
            }
        }
    }
}



@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  