.navbar-toggler{
  border:0;
  color: $black;
}
.navbar-brand{
  img{
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}
.offcanvas{
  .navbar-nav{
    .nav-link{
      border-bottom: 1px solid #f2f2f2;
      &:hover{
        background: $primary;
        color: $white;
      }
    }
  }
  &-body{
    .btn{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.hero{
  padding-bottom:60px;
  background: url(../img/hero-bg.jpg) no-repeat left top;
  background-size: cover;
  @include media-breakpoint-up(xl) {
    margin-top:-110px;
    min-height: 940px;
    padding-top:80px;
    padding-bottom:80px;
  }
  &-text{
    h1{
      font-size: 62px;
      span{
        color: $primary;
        font-weight: 900;
      }
    }
    h2{ 
      font-size: 32px;
      span{
        color: $primary;
        font-weight: 900;
      }
    }
    h3{
      font-size: 25px;
      span{
        color: $primary;
        font-weight: 900;
      }
    }
    @include media-breakpoint-down(sm) {
      h1{
        font-size: 36px;
      }
        h2{ 
          font-size: 24px;
        }
          h3{
            font-size: 20px;
          }
    }
  }
  &-img{
    @include media-breakpoint-up(xl) {
      margin-right:-20%;
      margin-left: -10%;
    }
    img{
      object-fit: cover;
    }
  }
}

