//@import "~bootstrap/scss/_functions";
//@import "~bootstrap/scss/_variables";
//@import "~bootstrap/scss/_mixins";
//@import "~bootstrap/scss/bootstrap";


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/_functions";

// 2. Include any default variable overrides here 
$primary: #009ea9;
$secondary: #183153;
$btn-link-color: #fff;


$offcanvas-horizontal-width: 75%;



// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/_variables";


// 4. Include any default map overrides here

//$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
//$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-icon: url("/src/img/plus.svg");
$accordion-button-active-icon: url("/src/img/minus.svg");
$accordion-icon-transform:  none;
$accordion-border-color:  rgba($primary, 0.1);
$accordion-button-active-bg: #f2f2f2;
$accordion-button-active-color: $black;


// 5. Include remainder of required parts
@import "~bootstrap/scss/_maps";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/_utilities";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_containers";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_helpers";

@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_offcanvas";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_list-group";
@import "~bootstrap/scss/_accordion";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_tables";







// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/_api";

@import "base/base.scss"; 
@import "base/buttons.scss"; 
@import "base/form.scss";
@import "base/modal.scss";

@import "section/header.scss"; 

@import "section/howto.scss"; 
@import "section/sk.scss"; 
@import "section/components.scss"; 
@import "section/graph.scss"; 
@import "section/footer.scss"; 

@import "section/accordion.scss";


