		
		<!--begin::loader-->
		<div class="page-loader flex-column">
			<img alt="Logo" class="max-h-75px" src="assets/media/logos/logo-compact.svg" />
			<div class="d-flex align-items-center mt-5">
				<span class="spinner-border text-primary" role="status"></span>
				<span class="text-muted fs-6 fw-bold ms-5">Memuat...</span>
			</div>
		</div>
		<!--end::Loader-->
		