#genelator-main_title {
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 2rem;
    font-weight: 600;
    color: #434349;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#userPic {
    align-self: center;
    height: 37px;
    border-radius: 50%;
    border-color: 1px aliceblue solid;
}

.kt-header__topbar-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 0 0.55rem 0 0;
    font-weight: 500;
    font-size: 0.9rem;
    color: #636177;
    background :#f6ba38 !important;
}

.gray-shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888 !important;
}

.custom-breadcrumb-separator {
    font-size: 0.7rem;
    color: #dbdce7;
}

.kt-section .kt-section__content.kt-section__content--solid {
    border-left-color: #ffb822;
    color: #333;
}

input.datepicker {
    width: 100%;
}

.select2-container {
    width: 100% !important;
}

table.dataTable tr.dtrg-group td {
    background-color: #f3f3f3;
}

.dataTables_wrapper .dataTable th {
    vertical-align: middle;
}

.dataTables_wrapper .dataTable td {
    vertical-align: top;
}

.kt-link {
    display: block;
}

.kt-badge--magenta {
    background-color: orange;
    color: #000;
    font-weight: bold;
}

#calendar-magang .theme--light.v-application {
    background-color: transparent;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: #ddd !important;
}

thead{
    font-weight: 600;
    /* background:aliceblue; */
    background:#f5f8fa !important;
    
}

.aside-footer {
    /* background-color: #01538d !important */
    background :#f6ba38 !important;
}
#kt_header {
    background :#f6ba38 !important;
}

.kt-section .kt-section__content.kt-section__content--solid{
    border-left-color: #ffb822 !important;
    color: #333;
}
.kt-section .kt-section__content.kt-section__content--solid {
    padding: 1.5rem;
    border-left: 4px solid #e2e5ec;
    background-color: #f7f8fa;
    border-radius-top-left: 4px;
    border-radius-top-right: 4px; 
}

.grafik-2 {
    background: #fff;
    padding: 60px 0;
}

.highcharts-title {
    font-size: 20px !important;
  }

.highcharts-subtitle {
  color: #183153 !important;
  fill: #183153 !important;
  font-size: 21px !important;
}

.highcharts-credits, .highcharts-exporting-group {
  display: none;
}

.highcharts-color-0, .highcharts-color-0 .highcharts-point {
  fill: #182957;
}

.highcharts-color-0.highcharts-data-label-connector {
  fill: none;
  stroke: #182957;
}

.highcharts-color-1, .highcharts-color-1 .highcharts-point {
  fill: #ff7376;
}

.highcharts-color-1.highcharts-data-label-connector {
  fill: none;
  stroke: #ff7376;
}

.highcharts-color-2, .highcharts-color-2 .highcharts-point {
  fill: #ffad00;
}

.highcharts-color-2.highcharts-data-label-connector {
  fill: none;
  stroke: #ffad00;
}

.highcharts-color-3, .highcharts-color-3 .highcharts-point {
  fill: #009ea9;
}

.highcharts-color-3.highcharts-data-label-connector {
  fill: none;
  stroke: #009ea9;
}

.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
  stroke: #182957;
}

.highcharts-axis.highcharts-color-0 text {
  fill: #182957;
}

.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
  stroke: #ff7376;
}

.highcharts-axis.highcharts-color-1 text {
  fill: #ff7376;
}

.highcharts-axis.highcharts-color-2 .highcharts-axis-line {
  stroke: #ffad00;
}

.highcharts-axis.highcharts-color-2 text {
  fill: #ffad00;
}

.highcharts-axis.highcharts-color-3 .highcharts-axis-line {
  stroke: #009ea9;
}

.highcharts-axis.highcharts-color-3 text, .highcharts-axis.highcharts-color-3 .highcharts-point {
  fill: #009ea9;
}

.bullet {
  display: inline-block;
  background-color: #E4E6EF;
  width: 10px;
  height: 2px;
  border-radius: 2rem;
}
.bullet.bullet-dot {
  width: 4px;
  height: 4px;
  border-radius: 100% !important;
}
.bullet.bullet-ver {
  width: 2px;
  height: 10px;
}
.bullet.bullet-bar {
  width: 4px;
  height: auto;
}