@font-face {
  font-family: 'keenicons-outline';
  src:  url('fonts/keenicons-outline.eot?uen1a');
  src:  url('fonts/keenicons-outline.eot?uen1a#iefix') format('embedded-opentype'),
    url('fonts/keenicons-outline.ttf?uen1a') format('truetype'),
    url('fonts/keenicons-outline.woff?uen1a') format('woff'),
    url('fonts/keenicons-outline.svg?uen1a#keenicons-outline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ki-outline {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'keenicons-outline' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ki-abstract-1.ki-outline:before {
  content: "\e900";
}
.ki-abstract-2.ki-outline:before {
  content: "\e901";
}
.ki-abstract-3.ki-outline:before {
  content: "\e902";
}
.ki-abstract-4.ki-outline:before {
  content: "\e903";
}
.ki-abstract-5.ki-outline:before {
  content: "\e904";
}
.ki-abstract-6.ki-outline:before {
  content: "\e905";
}
.ki-abstract-7.ki-outline:before {
  content: "\e906";
}
.ki-abstract-8.ki-outline:before {
  content: "\e907";
}
.ki-abstract-9.ki-outline:before {
  content: "\e908";
}
.ki-abstract-10.ki-outline:before {
  content: "\e909";
}
.ki-abstract-11.ki-outline:before {
  content: "\e90a";
}
.ki-abstract-12.ki-outline:before {
  content: "\e90b";
}
.ki-abstract-13.ki-outline:before {
  content: "\e90c";
}
.ki-abstract-14.ki-outline:before {
  content: "\e90d";
}
.ki-abstract-15.ki-outline:before {
  content: "\e90e";
}
.ki-abstract-16.ki-outline:before {
  content: "\e90f";
}
.ki-abstract-17.ki-outline:before {
  content: "\e910";
}
.ki-abstract-18.ki-outline:before {
  content: "\e911";
}
.ki-abstract-19.ki-outline:before {
  content: "\e912";
}
.ki-abstract-20.ki-outline:before {
  content: "\e913";
}
.ki-abstract-21.ki-outline:before {
  content: "\e914";
}
.ki-abstract-22.ki-outline:before {
  content: "\e915";
}
.ki-abstract-23.ki-outline:before {
  content: "\e916";
}
.ki-abstract-24.ki-outline:before {
  content: "\e917";
}
.ki-abstract-25.ki-outline:before {
  content: "\e918";
}
.ki-abstract-26.ki-outline:before {
  content: "\e919";
}
.ki-abstract-27.ki-outline:before {
  content: "\e91a";
}
.ki-abstract-28.ki-outline:before {
  content: "\e91b";
}
.ki-abstract-29.ki-outline:before {
  content: "\e91c";
}
.ki-abstract-30.ki-outline:before {
  content: "\e91d";
}
.ki-abstract-31.ki-outline:before {
  content: "\e91e";
}
.ki-abstract-32.ki-outline:before {
  content: "\e91f";
}
.ki-abstract-33.ki-outline:before {
  content: "\e920";
}
.ki-abstract-34.ki-outline:before {
  content: "\e921";
}
.ki-abstract-35.ki-outline:before {
  content: "\e922";
}
.ki-abstract-36.ki-outline:before {
  content: "\e923";
}
.ki-abstract-37.ki-outline:before {
  content: "\e924";
}
.ki-abstract-38.ki-outline:before {
  content: "\e925";
}
.ki-abstract-39.ki-outline:before {
  content: "\e926";
}
.ki-abstract-40.ki-outline:before {
  content: "\e927";
}
.ki-abstract-41.ki-outline:before {
  content: "\e928";
}
.ki-abstract-42.ki-outline:before {
  content: "\e929";
}
.ki-abstract-43.ki-outline:before {
  content: "\e92a";
}
.ki-abstract-44.ki-outline:before {
  content: "\e92b";
}
.ki-abstract-45.ki-outline:before {
  content: "\e92c";
}
.ki-abstract-46.ki-outline:before {
  content: "\e92d";
}
.ki-abstract-47.ki-outline:before {
  content: "\e92e";
}
.ki-abstract-48.ki-outline:before {
  content: "\e92f";
}
.ki-abstract-49.ki-outline:before {
  content: "\e930";
}
.ki-abstract.ki-outline:before {
  content: "\e931";
}
.ki-add-files.ki-outline:before {
  content: "\e932";
}
.ki-add-folder.ki-outline:before {
  content: "\e933";
}
.ki-add-notepad.ki-outline:before {
  content: "\e934";
}
.ki-additem.ki-outline:before {
  content: "\e935";
}
.ki-address-book.ki-outline:before {
  content: "\e936";
}
.ki-airplane-square.ki-outline:before {
  content: "\e937";
}
.ki-airplane.ki-outline:before {
  content: "\e938";
}
.ki-airpod.ki-outline:before {
  content: "\e939";
}
.ki-android.ki-outline:before {
  content: "\e93a";
}
.ki-angular.ki-outline:before {
  content: "\e93b";
}
.ki-apple.ki-outline:before {
  content: "\e93c";
}
.ki-archive-tick.ki-outline:before {
  content: "\e93d";
}
.ki-archive.ki-outline:before {
  content: "\e93e";
}
.ki-arrow-circle-left.ki-outline:before {
  content: "\e93f";
}
.ki-arrow-circle-right.ki-outline:before {
  content: "\e940";
}
.ki-arrow-diagonal.ki-outline:before {
  content: "\e941";
}
.ki-arrow-down-left.ki-outline:before {
  content: "\e942";
}
.ki-arrow-down-refraction.ki-outline:before {
  content: "\e943";
}
.ki-arrow-down-right.ki-outline:before {
  content: "\e944";
}
.ki-arrow-down.ki-outline:before {
  content: "\e945";
}
.ki-arrow-left.ki-outline:before {
  content: "\e946";
}
.ki-arrow-mix.ki-outline:before {
  content: "\e947";
}
.ki-arrow-right-left.ki-outline:before {
  content: "\e948";
}
.ki-arrow-right.ki-outline:before {
  content: "\e949";
}
.ki-arrow-two-diagonals.ki-outline:before {
  content: "\e94a";
}
.ki-arrow-up-down.ki-outline:before {
  content: "\e94b";
}
.ki-arrow-up-left.ki-outline:before {
  content: "\e94c";
}
.ki-arrow-up-refraction.ki-outline:before {
  content: "\e94d";
}
.ki-arrow-up-right.ki-outline:before {
  content: "\e94e";
}
.ki-arrow-up.ki-outline:before {
  content: "\e94f";
}
.ki-arrow-zigzag.ki-outline:before {
  content: "\e950";
}
.ki-arrows-circle.ki-outline:before {
  content: "\e951";
}
.ki-arrows-loop.ki-outline:before {
  content: "\e952";
}
.ki-artificial-intelligence.ki-outline:before {
  content: "\e953";
}
.ki-autobrightness.ki-outline:before {
  content: "\e954";
}
.ki-avalanche.ki-outline:before {
  content: "\e955";
}
.ki-award.ki-outline:before {
  content: "\e956";
}
.ki-badge.ki-outline:before {
  content: "\e957";
}
.ki-bandage.ki-outline:before {
  content: "\e958";
}
.ki-bank.ki-outline:before {
  content: "\e959";
}
.ki-barcode.ki-outline:before {
  content: "\e95a";
}
.ki-basket-ok.ki-outline:before {
  content: "\e95b";
}
.ki-basket.ki-outline:before {
  content: "\e95c";
}
.ki-behance.ki-outline:before {
  content: "\e95d";
}
.ki-bill.ki-outline:before {
  content: "\e95e";
}
.ki-binance-usd.ki-outline:before {
  content: "\e95f";
}
.ki-binance.ki-outline:before {
  content: "\e960";
}
.ki-bitcoin.ki-outline:before {
  content: "\e961";
}
.ki-black-down.ki-outline:before {
  content: "\e962";
}
.ki-black-left-line.ki-outline:before {
  content: "\e963";
}
.ki-black-left.ki-outline:before {
  content: "\e964";
}
.ki-black-right-line.ki-outline:before {
  content: "\e965";
}
.ki-black-right.ki-outline:before {
  content: "\e966";
}
.ki-black-up.ki-outline:before {
  content: "\e967";
}
.ki-bluetooth.ki-outline:before {
  content: "\e968";
}
.ki-book-open.ki-outline:before {
  content: "\e969";
}
.ki-book-square.ki-outline:before {
  content: "\e96a";
}
.ki-book.ki-outline:before {
  content: "\e96b";
}
.ki-bookmark-2.ki-outline:before {
  content: "\e96c";
}
.ki-bookmark.ki-outline:before {
  content: "\e96d";
}
.ki-bootstrap.ki-outline:before {
  content: "\e96e";
}
.ki-briefcase.ki-outline:before {
  content: "\e96f";
}
.ki-brifecase-cros.ki-outline:before {
  content: "\e970";
}
.ki-brifecase-tick.ki-outline:before {
  content: "\e971";
}
.ki-brifecase-timer.ki-outline:before {
  content: "\e972";
}
.ki-brush.ki-outline:before {
  content: "\e973";
}
.ki-bucket-square.ki-outline:before {
  content: "\e974";
}
.ki-bucket.ki-outline:before {
  content: "\e975";
}
.ki-burger-menu-1.ki-outline:before {
  content: "\e976";
}
.ki-burger-menu-2.ki-outline:before {
  content: "\e977";
}
.ki-burger-menu-3.ki-outline:before {
  content: "\e978";
}
.ki-burger-menu-4.ki-outline:before {
  content: "\e979";
}
.ki-burger-menu-5.ki-outline:before {
  content: "\e97a";
}
.ki-burger-menu-6.ki-outline:before {
  content: "\e97b";
}
.ki-burger-menu.ki-outline:before {
  content: "\e97c";
}
.ki-bus.ki-outline:before {
  content: "\e97d";
}
.ki-calculator.ki-outline:before {
  content: "\e97e";
}
.ki-calculatoror.ki-outline:before {
  content: "\e97f";
}
.ki-calendar-2.ki-outline:before {
  content: "\e980";
}
.ki-calendar-8.ki-outline:before {
  content: "\e981";
}
.ki-calendar-add.ki-outline:before {
  content: "\e982";
}
.ki-calendar-edit.ki-outline:before {
  content: "\e983";
}
.ki-calendar-remove.ki-outline:before {
  content: "\e984";
}
.ki-calendar-search.ki-outline:before {
  content: "\e985";
}
.ki-calendar-tick.ki-outline:before {
  content: "\e986";
}
.ki-calendar.ki-outline:before {
  content: "\e987";
}
.ki-call.ki-outline:before {
  content: "\e988";
}
.ki-capsule.ki-outline:before {
  content: "\e989";
}
.ki-car-2.ki-outline:before {
  content: "\e98a";
}
.ki-car-3.ki-outline:before {
  content: "\e98b";
}
.ki-car.ki-outline:before {
  content: "\e98c";
}
.ki-category.ki-outline:before {
  content: "\e98d";
}
.ki-cd.ki-outline:before {
  content: "\e98e";
}
.ki-celsius.ki-outline:before {
  content: "\e98f";
}
.ki-chart-line-down-2.ki-outline:before {
  content: "\e990";
}
.ki-chart-line-down.ki-outline:before {
  content: "\e991";
}
.ki-chart-line-star.ki-outline:before {
  content: "\e992";
}
.ki-chart-line-up-2.ki-outline:before {
  content: "\e993";
}
.ki-chart-line-up.ki-outline:before {
  content: "\e994";
}
.ki-chart-line.ki-outline:before {
  content: "\e995";
}
.ki-chart-pie-3.ki-outline:before {
  content: "\e996";
}
.ki-chart-pie-4.ki-outline:before {
  content: "\e997";
}
.ki-chart-pie-simple.ki-outline:before {
  content: "\e998";
}
.ki-chart-pie-too.ki-outline:before {
  content: "\e999";
}
.ki-chart-simple-2.ki-outline:before {
  content: "\e99a";
}
.ki-chart-simple-3.ki-outline:before {
  content: "\e99b";
}
.ki-chart-simple.ki-outline:before {
  content: "\e99c";
}
.ki-chart.ki-outline:before {
  content: "\e99d";
}
.ki-check-circle.ki-outline:before {
  content: "\e99e";
}
.ki-check-squared.ki-outline:before {
  content: "\e99f";
}
.ki-check.ki-outline:before {
  content: "\e9a0";
}
.ki-cheque.ki-outline:before {
  content: "\e9a1";
}
.ki-chrome.ki-outline:before {
  content: "\e9a2";
}
.ki-classmates.ki-outline:before {
  content: "\e9a3";
}
.ki-click.ki-outline:before {
  content: "\e9a4";
}
.ki-clipboard.ki-outline:before {
  content: "\e9a5";
}
.ki-cloud-add.ki-outline:before {
  content: "\e9a6";
}
.ki-cloud-change.ki-outline:before {
  content: "\e9a7";
}
.ki-cloud-download.ki-outline:before {
  content: "\e9a8";
}
.ki-cloud.ki-outline:before {
  content: "\e9a9";
}
.ki-code.ki-outline:before {
  content: "\e9aa";
}
.ki-coffee.ki-outline:before {
  content: "\e9ab";
}
.ki-color-swatch.ki-outline:before {
  content: "\e9ac";
}
.ki-colors-square.ki-outline:before {
  content: "\e9ad";
}
.ki-compass.ki-outline:before {
  content: "\e9ae";
}
.ki-copy-success.ki-outline:before {
  content: "\e9af";
}
.ki-copy.ki-outline:before {
  content: "\e9b0";
}
.ki-courier-express.ki-outline:before {
  content: "\e9b1";
}
.ki-courier.ki-outline:before {
  content: "\e9b2";
}
.ki-credit-cart.ki-outline:before {
  content: "\e9b3";
}
.ki-cross-circle.ki-outline:before {
  content: "\e9b4";
}
.ki-cross-square.ki-outline:before {
  content: "\e9b5";
}
.ki-cross.ki-outline:before {
  content: "\e9b6";
}
.ki-crown-2.ki-outline:before {
  content: "\e9b7";
}
.ki-crown.ki-outline:before {
  content: "\e9b8";
}
.ki-css.ki-outline:before {
  content: "\e9b9";
}
.ki-cube-2.ki-outline:before {
  content: "\e9ba";
}
.ki-cube-3.ki-outline:before {
  content: "\e9bb";
}
.ki-cup.ki-outline:before {
  content: "\e9bc";
}
.ki-dash.ki-outline:before {
  content: "\e9bd";
}
.ki-data.ki-outline:before {
  content: "\e9be";
}
.ki-delete-files.ki-outline:before {
  content: "\e9bf";
}
.ki-delete-folder.ki-outline:before {
  content: "\e9c0";
}
.ki-delivery-2.ki-outline:before {
  content: "\e9c1";
}
.ki-delivery-3.ki-outline:before {
  content: "\e9c2";
}
.ki-delivery-24.ki-outline:before {
  content: "\e9c3";
}
.ki-delivery-door.ki-outline:before {
  content: "\e9c4";
}
.ki-delivery-geolocation.ki-outline:before {
  content: "\e9c5";
}
.ki-delivery-time.ki-outline:before {
  content: "\e9c6";
}
.ki-delivery.ki-outline:before {
  content: "\e9c7";
}
.ki-design-1.ki-outline:before {
  content: "\e9c8";
}
.ki-design-2.ki-outline:before {
  content: "\e9c9";
}
.ki-devices-2.ki-outline:before {
  content: "\e9ca";
}
.ki-devices.ki-outline:before {
  content: "\e9cb";
}
.ki-diamonds.ki-outline:before {
  content: "\e9cc";
}
.ki-directbox-default.ki-outline:before {
  content: "\e9cd";
}
.ki-disconnect.ki-outline:before {
  content: "\e9ce";
}
.ki-discount.ki-outline:before {
  content: "\e9cf";
}
.ki-disk.ki-outline:before {
  content: "\e9d0";
}
.ki-dislike.ki-outline:before {
  content: "\e9d1";
}
.ki-dj.ki-outline:before {
  content: "\e9d2";
}
.ki-document.ki-outline:before {
  content: "\e9d3";
}
.ki-dodle-check.ki-outline:before {
  content: "\e9d4";
}
.ki-dollar.ki-outline:before {
  content: "\e9d5";
}
.ki-dots-circle-vertical.ki-outline:before {
  content: "\e9d6";
}
.ki-dots-circle.ki-outline:before {
  content: "\e9d7";
}
.ki-dots-horizontal.ki-outline:before {
  content: "\e9d8";
}
.ki-dots-square-vertical.ki-outline:before {
  content: "\e9d9";
}
.ki-dots-square.ki-outline:before {
  content: "\e9da";
}
.ki-dots-vertical.ki-outline:before {
  content: "\e9db";
}
.ki-double-left-arrow.ki-outline:before {
  content: "\e9dc";
}
.ki-double-right-arrow.ki-outline:before {
  content: "\e9dd";
}
.ki-down-square.ki-outline:before {
  content: "\e9de";
}
.ki-down.ki-outline:before {
  content: "\e9df";
}
.ki-dribbble.ki-outline:before {
  content: "\e9e0";
}
.ki-drop.ki-outline:before {
  content: "\e9e1";
}
.ki-dropbox.ki-outline:before {
  content: "\e9e2";
}
.ki-duble-check-circle.ki-outline:before {
  content: "\e9e3";
}
.ki-duble-down.ki-outline:before {
  content: "\e9e4";
}
.ki-duble-left.ki-outline:before {
  content: "\e9e5";
}
.ki-duble-right.ki-outline:before {
  content: "\e9e6";
}
.ki-duble-up.ki-outline:before {
  content: "\e9e7";
}
.ki-educare.ki-outline:before {
  content: "\e9e8";
}
.ki-electricity.ki-outline:before {
  content: "\e9e9";
}
.ki-electronic-clock.ki-outline:before {
  content: "\e9ea";
}
.ki-element-1.ki-outline:before {
  content: "\e9eb";
}
.ki-element-2.ki-outline:before {
  content: "\e9ec";
}
.ki-element-3.ki-outline:before {
  content: "\e9ed";
}
.ki-element-4.ki-outline:before {
  content: "\e9ee";
}
.ki-element-5.ki-outline:before {
  content: "\e9ef";
}
.ki-element-6.ki-outline:before {
  content: "\e9f0";
}
.ki-element-7.ki-outline:before {
  content: "\e9f1";
}
.ki-element-8.ki-outline:before {
  content: "\e9f2";
}
.ki-element-9.ki-outline:before {
  content: "\e9f3";
}
.ki-element-10.ki-outline:before {
  content: "\e9f4";
}
.ki-element-11.ki-outline:before {
  content: "\e9f5";
}
.ki-element-12.ki-outline:before {
  content: "\e9f6";
}
.ki-element-equal.ki-outline:before {
  content: "\e9f7";
}
.ki-element-plus.ki-outline:before {
  content: "\e9f8";
}
.ki-emoji-happy.ki-outline:before {
  content: "\e9f9";
}
.ki-enjin-coin.ki-outline:before {
  content: "\e9fa";
}
.ki-entrance-eft.ki-outline:before {
  content: "\e9fb";
}
.ki-entrance-right.ki-outline:before {
  content: "\e9fc";
}
.ki-eraser.ki-outline:before {
  content: "\e9fd";
}
.ki-euro.ki-outline:before {
  content: "\e9fe";
}
.ki-exit-down.ki-outline:before {
  content: "\e9ff";
}
.ki-exit-left.ki-outline:before {
  content: "\ea00";
}
.ki-exit-right-corner.ki-outline:before {
  content: "\ea01";
}
.ki-exit-right.ki-outline:before {
  content: "\ea02";
}
.ki-exit-up.ki-outline:before {
  content: "\ea03";
}
.ki-external-drive.ki-outline:before {
  content: "\ea04";
}
.ki-eye-slash.ki-outline:before {
  content: "\ea05";
}
.ki-eye.ki-outline:before {
  content: "\ea06";
}
.ki-face-id.ki-outline:before {
  content: "\ea07";
}
.ki-facebook.ki-outline:before {
  content: "\ea08";
}
.ki-fasten.ki-outline:before {
  content: "\ea09";
}
.ki-fatrows.ki-outline:before {
  content: "\ea0a";
}
.ki-feather.ki-outline:before {
  content: "\ea0b";
}
.ki-figma.ki-outline:before {
  content: "\ea0c";
}
.ki-file-added.ki-outline:before {
  content: "\ea0d";
}
.ki-file-deleted.ki-outline:before {
  content: "\ea0e";
}
.ki-file-down.ki-outline:before {
  content: "\ea0f";
}
.ki-file-left.ki-outline:before {
  content: "\ea10";
}
.ki-file-right.ki-outline:before {
  content: "\ea11";
}
.ki-file-sheet.ki-outline:before {
  content: "\ea12";
}
.ki-file-up.ki-outline:before {
  content: "\ea13";
}
.ki-files.ki-outline:before {
  content: "\ea14";
}
.ki-filter-edit.ki-outline:before {
  content: "\ea15";
}
.ki-filter-search.ki-outline:before {
  content: "\ea16";
}
.ki-filter-square.ki-outline:before {
  content: "\ea17";
}
.ki-filter-tablet.ki-outline:before {
  content: "\ea18";
}
.ki-filter-tick.ki-outline:before {
  content: "\ea19";
}
.ki-filter.ki-outline:before {
  content: "\ea1a";
}
.ki-financial-schedule.ki-outline:before {
  content: "\ea1b";
}
.ki-fingerprint-scanning.ki-outline:before {
  content: "\ea1c";
}
.ki-flag.ki-outline:before {
  content: "\ea1d";
}
.ki-flash-circle.ki-outline:before {
  content: "\ea1e";
}
.ki-flask.ki-outline:before {
  content: "\ea1f";
}
.ki-focus.ki-outline:before {
  content: "\ea20";
}
.ki-folder-added.ki-outline:before {
  content: "\ea21";
}
.ki-folder-down.ki-outline:before {
  content: "\ea22";
}
.ki-folder-up.ki-outline:before {
  content: "\ea23";
}
.ki-folder.ki-outline:before {
  content: "\ea24";
}
.ki-frame.ki-outline:before {
  content: "\ea25";
}
.ki-gear.ki-outline:before {
  content: "\ea26";
}
.ki-geolocation-home.ki-outline:before {
  content: "\ea27";
}
.ki-geolocation.ki-outline:before {
  content: "\ea28";
}
.ki-ghost.ki-outline:before {
  content: "\ea29";
}
.ki-gift.ki-outline:before {
  content: "\ea2a";
}
.ki-github.ki-outline:before {
  content: "\ea2b";
}
.ki-glass.ki-outline:before {
  content: "\ea2c";
}
.ki-google-play.ki-outline:before {
  content: "\ea2d";
}
.ki-google.ki-outline:before {
  content: "\ea2e";
}
.ki-graph-2.ki-outline:before {
  content: "\ea2f";
}
.ki-graph-3.ki-outline:before {
  content: "\ea30";
}
.ki-graph-4.ki-outline:before {
  content: "\ea31";
}
.ki-graph-up.ki-outline:before {
  content: "\ea32";
}
.ki-graph.ki-outline:before {
  content: "\ea33";
}
.ki-grid-2.ki-outline:before {
  content: "\ea34";
}
.ki-grid.ki-outline:before {
  content: "\ea35";
}
.ki-handcart.ki-outline:before {
  content: "\ea36";
}
.ki-happyemoji.ki-outline:before {
  content: "\ea37";
}
.ki-heart-circle.ki-outline:before {
  content: "\ea38";
}
.ki-heart.ki-outline:before {
  content: "\ea39";
}
.ki-home-1.ki-outline:before {
  content: "\ea3a";
}
.ki-home-2.ki-outline:before {
  content: "\ea3b";
}
.ki-home-3.ki-outline:before {
  content: "\ea3c";
}
.ki-home.ki-outline:before {
  content: "\ea3d";
}
.ki-html.ki-outline:before {
  content: "\ea3e";
}
.ki-icon.ki-outline:before {
  content: "\ea3f";
}
.ki-illustrator.ki-outline:before {
  content: "\ea40";
}
.ki-information-2.ki-outline:before {
  content: "\ea41";
}
.ki-information-3.ki-outline:before {
  content: "\ea42";
}
.ki-information-4.ki-outline:before {
  content: "\ea43";
}
.ki-information.ki-outline:before {
  content: "\ea44";
}
.ki-instagram.ki-outline:before {
  content: "\ea45";
}
.ki-joystick.ki-outline:before {
  content: "\ea46";
}
.ki-js-2.ki-outline:before {
  content: "\ea47";
}
.ki-js.ki-outline:before {
  content: "\ea48";
}
.ki-kanban.ki-outline:before {
  content: "\ea49";
}
.ki-key-square.ki-outline:before {
  content: "\ea4a";
}
.ki-key.ki-outline:before {
  content: "\ea4b";
}
.ki-keyboard.ki-outline:before {
  content: "\ea4c";
}
.ki-laptop.ki-outline:before {
  content: "\ea4d";
}
.ki-laravel.ki-outline:before {
  content: "\ea4e";
}
.ki-left-square.ki-outline:before {
  content: "\ea4f";
}
.ki-left.ki-outline:before {
  content: "\ea50";
}
.ki-like-2.ki-outline:before {
  content: "\ea51";
}
.ki-like-folder.ki-outline:before {
  content: "\ea52";
}
.ki-like-shapes.ki-outline:before {
  content: "\ea53";
}
.ki-like-tag.ki-outline:before {
  content: "\ea54";
}
.ki-like.ki-outline:before {
  content: "\ea55";
}
.ki-loading.ki-outline:before {
  content: "\ea56";
}
.ki-lock-2.ki-outline:before {
  content: "\ea57";
}
.ki-lock-3.ki-outline:before {
  content: "\ea58";
}
.ki-lock.ki-outline:before {
  content: "\ea59";
}
.ki-logistic.ki-outline:before {
  content: "\ea5a";
}
.ki-lots-shopping.ki-outline:before {
  content: "\ea5b";
}
.ki-lovely.ki-outline:before {
  content: "\ea5c";
}
.ki-lts.ki-outline:before {
  content: "\ea5d";
}
.ki-magnifier.ki-outline:before {
  content: "\ea5e";
}
.ki-map.ki-outline:before {
  content: "\ea5f";
}
.ki-mask.ki-outline:before {
  content: "\ea60";
}
.ki-maximize.ki-outline:before {
  content: "\ea61";
}
.ki-medal-star.ki-outline:before {
  content: "\ea62";
}
.ki-menu.ki-outline:before {
  content: "\ea63";
}
.ki-message-add.ki-outline:before {
  content: "\ea64";
}
.ki-message-edit.ki-outline:before {
  content: "\ea65";
}
.ki-message-minus.ki-outline:before {
  content: "\ea66";
}
.ki-message-notif.ki-outline:before {
  content: "\ea67";
}
.ki-message-programming.ki-outline:before {
  content: "\ea68";
}
.ki-message-question.ki-outline:before {
  content: "\ea69";
}
.ki-message-text-2.ki-outline:before {
  content: "\ea6a";
}
.ki-message-text.ki-outline:before {
  content: "\ea6b";
}
.ki-messages.ki-outline:before {
  content: "\ea6c";
}
.ki-microsoft.ki-outline:before {
  content: "\ea6d";
}
.ki-milk.ki-outline:before {
  content: "\ea6e";
}
.ki-minus-circle.ki-outline:before {
  content: "\ea6f";
}
.ki-minus-folder.ki-outline:before {
  content: "\ea70";
}
.ki-minus-squared.ki-outline:before {
  content: "\ea71";
}
.ki-minus.ki-outline:before {
  content: "\ea72";
}
.ki-monitor-mobile.ki-outline:before {
  content: "\ea73";
}
.ki-moon.ki-outline:before {
  content: "\ea74";
}
.ki-more-2.ki-outline:before {
  content: "\ea75";
}
.ki-mouse-circle.ki-outline:before {
  content: "\ea76";
}
.ki-mouse-square.ki-outline:before {
  content: "\ea77";
}
.ki-mouse.ki-outline:before {
  content: "\ea78";
}
.ki-nexo.ki-outline:before {
  content: "\ea79";
}
.ki-night-day.ki-outline:before {
  content: "\ea7a";
}
.ki-note-2.ki-outline:before {
  content: "\ea7b";
}
.ki-note.ki-outline:before {
  content: "\ea7c";
}
.ki-notepad-bookmark.ki-outline:before {
  content: "\ea7d";
}
.ki-notepad-edit.ki-outline:before {
  content: "\ea7e";
}
.ki-notepad.ki-outline:before {
  content: "\ea7f";
}
.ki-notification-2.ki-outline:before {
  content: "\ea80";
}
.ki-notification-bing.ki-outline:before {
  content: "\ea81";
}
.ki-notification-circle.ki-outline:before {
  content: "\ea82";
}
.ki-notification-favorite.ki-outline:before {
  content: "\ea83";
}
.ki-notification-on.ki-outline:before {
  content: "\ea84";
}
.ki-notification-status.ki-outline:before {
  content: "\ea85";
}
.ki-notification.ki-outline:before {
  content: "\ea86";
}
.ki-ocean.ki-outline:before {
  content: "\ea87";
}
.ki-office-bag.ki-outline:before {
  content: "\ea88";
}
.ki-package.ki-outline:before {
  content: "\ea89";
}
.ki-pails.ki-outline:before {
  content: "\ea8a";
}
.ki-paintbucket.ki-outline:before {
  content: "\ea8b";
}
.ki-paper-clip.ki-outline:before {
  content: "\ea8c";
}
.ki-parcel-tracking.ki-outline:before {
  content: "\ea8d";
}
.ki-parcel.ki-outline:before {
  content: "\ea8e";
}
.ki-password-check.ki-outline:before {
  content: "\ea8f";
}
.ki-paypal.ki-outline:before {
  content: "\ea90";
}
.ki-pencil.ki-outline:before {
  content: "\ea91";
}
.ki-people.ki-outline:before {
  content: "\ea92";
}
.ki-percentage.ki-outline:before {
  content: "\ea93";
}
.ki-phone.ki-outline:before {
  content: "\ea94";
}
.ki-photoshop.ki-outline:before {
  content: "\ea95";
}
.ki-picture.ki-outline:before {
  content: "\ea96";
}
.ki-pill.ki-outline:before {
  content: "\ea97";
}
.ki-pin.ki-outline:before {
  content: "\ea98";
}
.ki-plus-circle.ki-outline:before {
  content: "\ea99";
}
.ki-plus-squared.ki-outline:before {
  content: "\ea9a";
}
.ki-plus.ki-outline:before {
  content: "\ea9b";
}
.ki-pointers.ki-outline:before {
  content: "\ea9c";
}
.ki-price-tag.ki-outline:before {
  content: "\ea9d";
}
.ki-printer.ki-outline:before {
  content: "\ea9e";
}
.ki-profile-circle.ki-outline:before {
  content: "\ea9f";
}
.ki-profile-users.ki-outline:before {
  content: "\eaa0";
}
.ki-pulse.ki-outline:before {
  content: "\eaa1";
}
.ki-purchase.ki-outline:before {
  content: "\eaa2";
}
.ki-python.ki-outline:before {
  content: "\eaa3";
}
.ki-question-2.ki-outline:before {
  content: "\eaa4";
}
.ki-question.ki-outline:before {
  content: "\eaa5";
}
.ki-questionnaire-tablet.ki-outline:before {
  content: "\eaa6";
}
.ki-ranking.ki-outline:before {
  content: "\eaa7";
}
.ki-react.ki-outline:before {
  content: "\eaa8";
}
.ki-receipt-square.ki-outline:before {
  content: "\eaa9";
}
.ki-rescue.ki-outline:before {
  content: "\eaaa";
}
.ki-right-left.ki-outline:before {
  content: "\eaab";
}
.ki-right-square.ki-outline:before {
  content: "\eaac";
}
.ki-right.ki-outline:before {
  content: "\eaad";
}
.ki-rocket.ki-outline:before {
  content: "\eaae";
}
.ki-route.ki-outline:before {
  content: "\eaaf";
}
.ki-router.ki-outline:before {
  content: "\eab0";
}
.ki-row-horizontal.ki-outline:before {
  content: "\eab1";
}
.ki-row-vertical.ki-outline:before {
  content: "\eab2";
}
.ki-safe-home.ki-outline:before {
  content: "\eab3";
}
.ki-satellite.ki-outline:before {
  content: "\eab4";
}
.ki-save-2.ki-outline:before {
  content: "\eab5";
}
.ki-save-deposit.ki-outline:before {
  content: "\eab6";
}
.ki-scan-barcode.ki-outline:before {
  content: "\eab7";
}
.ki-scooter-2.ki-outline:before {
  content: "\eab8";
}
.ki-scooter.ki-outline:before {
  content: "\eab9";
}
.ki-screen.ki-outline:before {
  content: "\eaba";
}
.ki-scroll.ki-outline:before {
  content: "\eabb";
}
.ki-search-list.ki-outline:before {
  content: "\eabc";
}
.ki-security-user.ki-outline:before {
  content: "\eabd";
}
.ki-setting-2.ki-outline:before {
  content: "\eabe";
}
.ki-setting-3.ki-outline:before {
  content: "\eabf";
}
.ki-setting-4.ki-outline:before {
  content: "\eac0";
}
.ki-setting.ki-outline:before {
  content: "\eac1";
}
.ki-share.ki-outline:before {
  content: "\eac2";
}
.ki-shield-cross.ki-outline:before {
  content: "\eac3";
}
.ki-shield-search.ki-outline:before {
  content: "\eac4";
}
.ki-shield-slash.ki-outline:before {
  content: "\eac5";
}
.ki-shield-tick.ki-outline:before {
  content: "\eac6";
}
.ki-shield.ki-outline:before {
  content: "\eac7";
}
.ki-ship.ki-outline:before {
  content: "\eac8";
}
.ki-shop.ki-outline:before {
  content: "\eac9";
}
.ki-simcard-2.ki-outline:before {
  content: "\eaca";
}
.ki-simcard.ki-outline:before {
  content: "\eacb";
}
.ki-size.ki-outline:before {
  content: "\eacc";
}
.ki-slack.ki-outline:before {
  content: "\eacd";
}
.ki-slider-horizontal-2.ki-outline:before {
  content: "\eace";
}
.ki-slider-horizontal.ki-outline:before {
  content: "\eacf";
}
.ki-slider-vertical-2.ki-outline:before {
  content: "\ead0";
}
.ki-slider-vertical.ki-outline:before {
  content: "\ead1";
}
.ki-slider.ki-outline:before {
  content: "\ead2";
}
.ki-sms.ki-outline:before {
  content: "\ead3";
}
.ki-snapchat.ki-outline:before {
  content: "\ead4";
}
.ki-social-media.ki-outline:before {
  content: "\ead5";
}
.ki-soft-2.ki-outline:before {
  content: "\ead6";
}
.ki-soft-3.ki-outline:before {
  content: "\ead7";
}
.ki-soft.ki-outline:before {
  content: "\ead8";
}
.ki-some-files.ki-outline:before {
  content: "\ead9";
}
.ki-sort.ki-outline:before {
  content: "\eada";
}
.ki-speaker.ki-outline:before {
  content: "\eadb";
}
.ki-spotify.ki-outline:before {
  content: "\eadc";
}
.ki-spring.ki-outline:before {
  content: "\eadd";
}
.ki-square-brackets.ki-outline:before {
  content: "\eade";
}
.ki-star.ki-outline:before {
  content: "\eadf";
}
.ki-status.ki-outline:before {
  content: "\eae0";
}
.ki-subtitle.ki-outline:before {
  content: "\eae1";
}
.ki-sun.ki-outline:before {
  content: "\eae2";
}
.ki-support.ki-outline:before {
  content: "\eae3";
}
.ki-switch.ki-outline:before {
  content: "\eae4";
}
.ki-syringe.ki-outline:before {
  content: "\eae5";
}
.ki-tab-tablet.ki-outline:before {
  content: "\eae6";
}
.ki-tablet-delete.ki-outline:before {
  content: "\eae7";
}
.ki-tablet-ok.ki-outline:before {
  content: "\eae8";
}
.ki-tablet-text-down.ki-outline:before {
  content: "\eae9";
}
.ki-tablet-text-up.ki-outline:before {
  content: "\eaea";
}
.ki-tablet-up.ki-outline:before {
  content: "\eaeb";
}
.ki-tablet.ki-outline:before {
  content: "\eaec";
}
.ki-tag-cross.ki-outline:before {
  content: "\eaed";
}
.ki-tag.ki-outline:before {
  content: "\eaee";
}
.ki-teacher.ki-outline:before {
  content: "\eaef";
}
.ki-technology-2.ki-outline:before {
  content: "\eaf0";
}
.ki-technology-3.ki-outline:before {
  content: "\eaf1";
}
.ki-technology-4.ki-outline:before {
  content: "\eaf2";
}
.ki-technology.ki-outline:before {
  content: "\eaf3";
}
.ki-telephone-geolocation.ki-outline:before {
  content: "\eaf4";
}
.ki-test-tubes.ki-outline:before {
  content: "\eaf5";
}
.ki-text-bold.ki-outline:before {
  content: "\eaf6";
}
.ki-text-circle.ki-outline:before {
  content: "\eaf7";
}
.ki-text-italic.ki-outline:before {
  content: "\eaf8";
}
.ki-text-number.ki-outline:before {
  content: "\eaf9";
}
.ki-text-strikethrough.ki-outline:before {
  content: "\eafa";
}
.ki-text-underline.ki-outline:before {
  content: "\eafb";
}
.ki-text.ki-outline:before {
  content: "\eafc";
}
.ki-textalign-center.ki-outline:before {
  content: "\eafd";
}
.ki-textalign-justifycenter.ki-outline:before {
  content: "\eafe";
}
.ki-textalign-left.ki-outline:before {
  content: "\eaff";
}
.ki-textalign-right.ki-outline:before {
  content: "\eb00";
}
.ki-thermometer.ki-outline:before {
  content: "\eb01";
}
.ki-theta.ki-outline:before {
  content: "\eb02";
}
.ki-tiktok.ki-outline:before {
  content: "\eb03";
}
.ki-time.ki-outline:before {
  content: "\eb04";
}
.ki-timer.ki-outline:before {
  content: "\eb05";
}
.ki-to-left.ki-outline:before {
  content: "\eb06";
}
.ki-to-right.ki-outline:before {
  content: "\eb07";
}
.ki-toggle-off-circle.ki-outline:before {
  content: "\eb08";
}
.ki-toggle-off.ki-outline:before {
  content: "\eb09";
}
.ki-toggle-on-circle.ki-outline:before {
  content: "\eb0a";
}
.ki-toggle-on.ki-outline:before {
  content: "\eb0b";
}
.ki-trailer.ki-outline:before {
  content: "\eb0c";
}
.ki-tree.ki-outline:before {
  content: "\eb0d";
}
.ki-trello.ki-outline:before {
  content: "\eb0e";
}
.ki-triangle.ki-outline:before {
  content: "\eb0f";
}
.ki-truck.ki-outline:before {
  content: "\eb10";
}
.ki-trush-square.ki-outline:before {
  content: "\eb11";
}
.ki-trush.ki-outline:before {
  content: "\eb12";
}
.ki-ts.ki-outline:before {
  content: "\eb13";
}
.ki-twitch.ki-outline:before {
  content: "\eb14";
}
.ki-twitter.ki-outline:before {
  content: "\eb15";
}
.ki-two-credit-cart.ki-outline:before {
  content: "\eb16";
}
.ki-underlining.ki-outline:before {
  content: "\eb17";
}
.ki-up-down.ki-outline:before {
  content: "\eb18";
}
.ki-up-square.ki-outline:before {
  content: "\eb19";
}
.ki-up.ki-outline:before {
  content: "\eb1a";
}
.ki-update-file.ki-outline:before {
  content: "\eb1b";
}
.ki-update-folder.ki-outline:before {
  content: "\eb1c";
}
.ki-user-edit.ki-outline:before {
  content: "\eb1d";
}
.ki-user-square.ki-outline:before {
  content: "\eb1e";
}
.ki-user-tick.ki-outline:before {
  content: "\eb1f";
}
.ki-user.ki-outline:before {
  content: "\eb20";
}
.ki-verify.ki-outline:before {
  content: "\eb21";
}
.ki-vibe.ki-outline:before {
  content: "\eb22";
}
.ki-virus.ki-outline:before {
  content: "\eb23";
}
.ki-vue.ki-outline:before {
  content: "\eb24";
}
.ki-vuesax.ki-outline:before {
  content: "\eb25";
}
.ki-wallet.ki-outline:before {
  content: "\eb26";
}
.ki-wanchain.ki-outline:before {
  content: "\eb27";
}
.ki-watch.ki-outline:before {
  content: "\eb28";
}
.ki-whatsapp.ki-outline:before {
  content: "\eb29";
}
.ki-wi-fi.ki-outline:before {
  content: "\eb2a";
}
.ki-wifi-home.ki-outline:before {
  content: "\eb2b";
}
.ki-wifi-square.ki-outline:before {
  content: "\eb2c";
}
.ki-wrench.ki-outline:before {
  content: "\eb2d";
}
.ki-xaomi.ki-outline:before {
  content: "\eb2e";
}
.ki-xd.ki-outline:before {
  content: "\eb2f";
}
.ki-xmr.ki-outline:before {
  content: "\eb30";
}
.ki-yii.ki-outline:before {
  content: "\eb31";
}
.ki-youtube.ki-outline:before {
  content: "\eb32";
}
